{
  "presets": [
    "react-app"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
  ]
}
// "babel": {
//   "presets": [
//     "react-app"
//   ]
// },